[user]
	name = Leo Baker-Hytch
	email = l.bakerhytch@gmail.com

[github]
	user = LeoBakerHytch

[credential]
	helper = osxkeychain

[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = green
	local = white
	remote = blue

[color "diff"]
	frag = cyan
	meta = white
	new = green
	old = yellow bold

[color "status"]
	added = cyan bold
	changed = yellow bold
	untracked = blue bold

[alias]
	a = add
	u = add -u
	c = commit
	d = diff
	s = status --short
	b = branch
	co = checkout
	amend = commit --amend
	namend = commit --amend --no-edit
	nmerge = merge --no-edit
	pop = stash pop
	sync = !git pull --rebase && git push
	wd = diff --color-words
	ws = show --color-words
	l = log --graph --pretty=format:'%C(blue)%h%C(reset) -%C(yellow bold)%d%C(reset) %s %C(green)(%cd)%C(reset)' --abbrev-commit --date=relative

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
